[submodule "solo/src/ext"]
	path = solo/src/ext
	url = https://github.com/AlfioEmanueleFresta/solo.git
[submodule "ctap-types"]
	path = ctap-types
	url = https://github.com/AlfioEmanueleFresta/ctap-types.git
[submodule "snow"]
	path = snow
	url = https://github.com/AlfioEmanueleFresta/snow.git
